<<<<<<< HEAD
=======
:root {
	--primary-color: #fd6832;
	--secondary-color: #ff7b47;
	--hover-color: #ff4800;
	--font-family: 'Roboto', 'Arial', sans-serif;
	--border-color: #ddd; /* Đường viền nhạt cho các phần tử */
}
>>>>>>> 7902eba89cf0efbf01fb3d1429ebf1d78671e993

/* admin global styling */
form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	min-height: 100px;
}

button[type="submit"] {
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: var(--hover-color);
}

button {
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: white;
	font-size: 1rem;
	font-family: var(--font-family);
	cursor: pointer;
}

label {
	font-size: 1rem;
	font-family: var(--font-family);
	margin-top: 10px;
}

input {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	font-size: 1rem;
	font-family: var(--font-family);
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
}

th,
td {
	text-align: left;
	padding: 12px;
	border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #f5f5f5;
}


/* admin header */
.header-container {
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	/* background-color: var(--primary-color); */
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: var(--font-family);
	background-color: #F29F58;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: auto;
	display: flex;
}

.header-link {
	margin-right: 10px;
}


/* admin dashboard styling */
.dashboard-container {
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	font-family: var(--font-family);
}

.dashboard-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	font-family: var(--font-family);
}

.dashboard-button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: white;
	font-size: 1rem;
	font-family: var(--font-family);
	cursor: pointer;
}

/* airports styling */
.airports-container {
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	font-family: var(--font-family);
}