@import "./Global.css";

/* Thẻ chuyến bay chính */
.flight-card {
  border: 1px solid var(--border-color, #ddd);
  font-family: var(--font-family);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  color: var(--text-color);
  background-color: var(--background-form-color);
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.flight-card:hover {
  background: var(--hover-color);
  transform: translateY(-5px);
}

/* Thông tin chuyến bay chính */
.flight-card .flight-infos {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--text-color);
}

/* Hiển thị thông tin chi tiết */
.flight-card .flight-detail {
  background-color: var(--background-input-color);
  padding: 15px;
  border-top: 1px solid var(--border-color);
  font-size: 14px;
  line-height: 1.8;
  color: var(--text-color);
  border-radius: 3px;
}

.flight-card .flight-detail p {
  margin: 8px 0;
}

/* Nút đặt vé */
.flight-card .book-btn {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.flight-card .book-btn:hover {
  background-color: var(--secondary-color);
}

/* Responsive */
@media (max-width: 768px) {
 .flight-card {
    padding: 15px;
  }

.flight-card  .flight-infos {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .flight-card {
    padding: 10px;
  }

  .flight-card .flight-infos {
    font-size: 12px;
  }

  .flight-card .book-btn {
    padding: 8px 12px;
    font-size: 12px;
  }
}
