:root {
    --primary-color: #e9663f;
    --secondary-color: #ff6435;
    --text-color: #ffffff;
    --background-color: #f0f4f8;
    --border-color: #c75a39;
    --hover-color: #ff5c2b;
    --font-family: Arial, sans-serif;
  }